body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 20px;
}

.dayContainer{   /* puts border around all div elements in the container*/
    border: 3px #2C3E50 solid;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-right: 0px;
    gap: 10px;
    padding-top: 0px;
}

.day-container-header {
    display: flex;
    justify-content: space-between;
}

.day-title {
    color: #2C3E50;
    line-height: 0px;
    margin-bottom: 0px;
    justify-content: left;
}

#page-title {
    font-size: 32px; /* Increased font size */
    text-align: center; /* Centered text */
    margin: 20px 0; /* Added margin */
    gap: 10px;
}

#subheading {
    text-align: center;
}

ul {
    word-wrap: break-word;
    flex-wrap: nowrap;
}

.day-subtitle {
    color: #2C3E50;
    font-style: italic;
    padding-bottom: 0px;
    margin-bottom: 10px; 
    font-weight: 500; /* Make sub-heading bolder */
    font-size: 18px; /* Increase font size */
}

input[type="button"] {
    background-color: #2C3E50; /* Added background color */
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s; /* Added transition */
}

input[type="button"]:hover {
    background-color: #34495E; /* Added hover effect */
}

#add-new{
    display: inline-block; /* Make it inline-block to size properly */
    color: #FFFFFF;
    background-color: #2C3E50;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-new-header {
    border: solid #2C3E50 5px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 8px;
    padding: 5px;

}

#add-new-button {
    text-align: center;
    font-size: 40px;
}

.item {
    height: 20px;
}
.item-text-strikethrough {
    text-decoration: line-through;
}
.item div {
    float: right;
}
.check-item {
    color: green;
    /* float: right; */
}
.uncheck-item {
    color: blue;
}
.remove-button {
    color: red;
    /* float: right; */
}

#save-button {
    align-items: right;
    /* background-color:rgb(255, 0, 0); */
    /* color: rgb(255, 255, 255); */
    size: 100px;
}
#save-button:hover + .hide {
    display: inline;
    border: solid #2C3E50 1px;
    padding: 4px;
    border-radius: 5px;
}
.hide {
    display: none;
  }